<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分页信息展示</title>
</head>
<body>
    <table>
        <tr>
            <td>部门编号</td>
            <td>部门名称</td>
            <td>部门地址</td>
        </tr>
        <tr th:each="dept : ${pageInfo.list}">
            <td th:text="${dept.deptno}"></td>
            <td th:text="${dept.dname}"></td>
            <td th:text="${dept.loc}"></td>
        </tr>
    </table>
    <div th:if="!${pageInfo.isFirstPage}">
        <a th:text="首页" th:href="@{/pageGetAll(pageNum=1)}"></a>
        <a th:text="上一页" th:href="@{/pageGetAll(pageNum=${pageInfo.prePage})}"></a>
    </div>
    <div th:if="!${pageInfo.isLastPage}">
        <a th:text="尾页" th:href="@{/pageGetAll(pageNum=${pageInfo.pages})}"></a>
        <a th:text="下一页" th:href="@{/pageGetAll(pageNum=${pageInfo.nextPage})}"></a>
    </div>
</body>
</html>